nav {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    
}

ul {
    display: flex;
    justify-content: space-between;
    width: 700px;
    color: white;
}

li {
    list-style: none
}